{sub_dirs, [
	"apps/log_producer"
]}.

{deps_dir, "deps"}.

{deps, [
    {lager, ".", {git, "git://github.com/basho/lager.git", {tag, "1.2.1"}}},
    {lager_syslog, ".*", {git, "git://github.com/basho/lager_syslog.git", {tag, "1.2.1"}}}
]}.

{lib_dirs, [
    "deps",
    "apps"
]}.

{erl_opts, [
    debug_info,
    warnings_as_errors,
    {parse_transform, lager_transform},
	warn_missing_spec
]}.

{cover_enabled, true}.
{eunit_opts, [
             debug_info,
             {d, 'DEBUG', true}
            ]}.
